body{
    color: azure;
    background-color: rgb(50, 94, 85);
    margin: 0;
    padding: 0;
}

.flex_container {
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
padding: 10vw; 
color: azure;

}

.hörn{
    background-color: rgb(37, 181, 128);
    width: 25vw;
    border: 2px solid white;
    padding: 10px; 
    color: azure;
}

.first-layer{
    background-color: rgb(37, 181, 128);
    margin: 0;
    padding: 0;
    border: 2px solid white;
    padding: 10px; 
    color: azure;
    display: flex;
    justify-content: space-evenly;
    
    
}

.right-side img{
    width: 40vw;
    height: 40vw;
}

.left-side{
    
}